/* container For screens smaller than 1120px */
@media (max-width: 1299px) {
    .container {
        width: 100%;
        max-width: none;
        /* padding: 0 20px; */
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* container For screens larger than or equal to 1120px */
@media only screen and (min-width: 1150px) {
    .container {
        max-width: 1250px;

    }
}

/* @media (max-width: 920px) { */
@media (max-width: 1200px) {
    .hamburger-menu-container {
        display: flex;
    }

    #check {
        display: block;
    }

    .nav-btn {
        position: fixed;
        height: calc(100vh - 3rem);
        top: 5.5rem;
        left: 0;
        width: 100%;
        background-color: #1c1c1c;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked~.nav-btn {
        transform: translateX(0);
    }

    #check:checked~.nav-btn .nav-link,
    #check:checked~.nav-btn .log-sign {
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links {
        flex: initial;
        width: 100%;
    }

    .nav-links>ul {
        flex-direction: column;
        width: 100vw;
    }

    .nav-link {
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link>a {
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .dropdown,
    .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        display: none;
    }

    .nav-link:hover>.dropdown,
    .dropdown-link:hover>.dropdown {
        display: block;
    }

    /* changes */
    .nav-link:hover>.dropdown,
    .dropdown-link:hover>.dropdown {
        transform: translateX(0) translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .dropdown-bg-1 {
        width: 100vw;
        background: #1c1c1c;
        border-bottom: 1px solid rgba(255, 255, 255, 0.317);
        border-radius: 0 0 15px 15px;
        padding-top: 0px;
        padding-bottom: 10px;
    }  

    .arrow {
        display: none;
        background-color: #fff;
    }


    .textWhite{
        color: white;
      }











    .nav-link:hover>a>i,
    .dropdown-link:hover>a>i {
        transform: rotate(360deg);
    }

    .dropdown-link>a {
        background-color: transparent;
        color: var(--clr-light);
        padding: 1rem 2rem 0; 
        line-height: 1;
    }

    .dropdown.second .dropdown-link>a {
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link>a {
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

}